body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 370px;
    background-color: lightgrey;
}
main {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.game-border {
    width: 100%;
    background-color: lightgrey; 
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.screen-border {
    margin-top: 50px;
    background-color: grey;
    width: 90%;
    height: 50%;
    border-radius: 7px 7px 40px 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid black;
}
.screeninfocontainer {
    width: 80%;
    height: 85%;
}
.screen {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background: url('peteandpete.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
    display: flex;
    align-items: center;
    justify-content: center;

}
.onoff {
    opacity: 0;
}
@font-face {
    font-family: NintendoBold;
    src: url(NintendBold.otf);
}
h5 {
    font-family: NintendoBold;
    margin: 0;
    margin-top: 6px;
    color: darkblue;
    width: 90%;
    font-size: 1.1em;
}
.buttongroup {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 70px;
    margin-right:70px;
} 
.powerlabel{
    position: absolute;
    transform: rotate(-90deg);
    left: 53px;
    top: 7px;
    color: darkblue;
}
.resetlabel {
    position: absolute;
    transform: rotate(-90deg);
    left: 57px;
    top: 66px;
    color: darkblue;
}

.resetandpower {
    background-color: white;
    padding: 7px;
    background-color: rgb(190, 190, 190);
    border-radius: 5em 5em 5em 5em;;
    transform: rotate(45deg);
    margin-right: 30px;
}

.power, .reset {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #870231;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75), inset 0px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75),  inset 0px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75), inset 0px 0px 8px 1px rgba(255,255,255,1);
}
.power {
    margin-bottom: 10px;
}
@font-face{
    font-family: digital-clock-font;
    src: url(digital-7.ttf);
   }
.timer {
    width: 100px;
    height: 100px;
    background-color: rgb(61, 61, 61);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75), inset 0px 0px 8px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75), inset 0px 0px 8px 1px rgba(255,255,255,1);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75), inset 0px 0px 8px 1px rgba(255,255,255,1);
    font-family: digital-clock-font;
    font-size: 2em;
}
.power, .reset {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: rotate(-45deg);
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.unclicked {
    background: url('');
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
}
/* Modal Styling */
.modal, .modal-box {
    z-index: 900;
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .8);
    overflow: auto;
}

.modal-box {
    position: relative;
    width: 60%;
    max-width: 500px;
    margin: 100px auto;
    animation-name: modalbox;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(0, 0, .3, 1.6);
    display: flex;
    flex-direction: column;
}

.modal-header {
    padding: 10px 10px;
    background: #EC4417;
    color: #ffffff;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    font-size: 12px;
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0 0;
}
.modalpic {
    width: 100px;
    height: 100px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(petepics/surprisedpete.jpg);
    margin: 10px;
    border-radius: 5px;
}

h1 {
    width: 60%;   
    text-align: right;
    font-size: 16px; 
}

.modal-body {
    background: #5AEC08;
    padding: 20px 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.victory-msg {
    font-style: italic;    
    margin-top: 0;
    padding-top: 0;
}
.playagain {
    font-size: 1.5em;
}

.modal_btn {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Modal Reset button*/
.reset-modal {
    width: 25%;
    cursor: pointer;
    border: none;
    background-color: white;
    height: 30px;
    font-size: 1.5em;
    border-radius: 5px;
}

/* Modal PowerOff button */
/* .poweroff-modal {
    width: 25%;
    cursor: pointer;
    border: none;
    background-color: red;
} */
/* modal styling ends */

@font-face {
    font-family: NintendoBold;
    src: url(NintendBold.otf);
}

.unclicked:before {
    content: 'Press Power';
    font-family: NintendoBold;
    color: black;
    white-space: nowrap;
    margin: 20px;
    font-weight: 600;
    font-size: 28px;
    border: 5px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.powerinner, .resetinner {
    display: none;
}


/* Desktop */

@media only screen and (min-width: 820px){

    .game-border {
        width: 100%;
        background-color: #C8C1AE; 
        height: 100vh;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }
    
    h5 {
        display: none;
    }

    .screen-border {
        margin-top: 0px;
        background-color: #272727;
        width: 90%;
        height: 100vh;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 2px solid white;
        /* margin-top: 50px; */
    }
    .screen {
        width: 100%;
        height: 100%;
        margin-top: 0px;
        background: url('http://www.sprinklesandbooze.com/wp/wp-content/uploads/2012/11/pete-and-pete.jpeg');
        /* Full height */
        height: 100%; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-shadow: inset -1px 2px 90px 27px rgba(0,0,0,0.92), 0px 0px 54px 26px rgba(255,255,255,.42);
        -moz-box-shadow: inset -1px 2px 90px 27px rgba(0,0,0,0.92), 0px 0px 54px 26px rgba(255,255,255,.42);
        box-shadow: inset -1px 2px 90px 27px rgba(0,0,0,0.92), 0px 0px 54px 26px rgba(255,255,255,.42);
        /* border-radius: 30px 30px 30px 30px; */
        border-radius: 50% / 5%;
        border: 1px solid rgb(255, 255, 255);
    }

    .buttongroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        height: 100vh;
        justify-content: space-around;
         margin-top: 0px;
    } 

    .resetandpower {
        background-color: white;
        padding: 7px;
        background-color: #C8C1AE;
        border-radius: 5em 5em 5em 5em;;
        transform: rotate(0deg);
        margin-right: 0px;
    }
    
    .power, .reset {
        width: 100px;
        height: 100px;
        background-color: #9ca294;
        margin: 0px;
    }
    .power {
        margin-bottom: 30px;
    }
    .timer {
        width: 150px;
        height: 150px;
        background-color: rgb(61, 61, 61);
        border-radius: 50%;
        color: darkred;
    }
    .power, .reset {
     transform: rotate(0deg);
    }
    .unclicked{
        background: url(https://i.gifer.com/7vr1.gif);
        /* Full height */
        height: 100%; 
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: flex-start;
        align-items: flex-start;
    }
    @font-face{
        font-family: VCR;
        src: url(VCR.ttf);
    }
    .unclicked:before {
        content: 'Press Power';
        white-space: nowrap;
        margin-left: 50px;
        margin-top: 40px;
        font-family: VCR; 
        font-size: 20px; 
        font-weight: 100;
        color: rgba(255, 255, 255, 0.774);
        border: none;
    }
    .powerlabel{
        display: none;
    }
    .resetlabel {
        display: none;
    }
    .powerinner, .resetinner {
        display: flex;
    }
}